In [2]:
import pandas as pd
import numpy as np
from PIL import Image
from PIL import ImageOps
import PIL
import torch, torchvision
from torchvision import transforms, datasets
from torch.utils.data import Dataset, DataLoader
import matplotlib.pyplot as plt
import math
import random
import os

In [15]:
train = np.zeros(4000)
test  = np.zeros(800)

In [16]:
for i in np.arange(1000):
    train[i] = 1 + 10*i

for i in np.arange(1000):
    train[1000+i] = 12001 + 10*i
    
for i in np.arange(500):
    train[1000+1000+i] = 24001 + 10*i

for i in np.arange(1000):
    train[1000+1000+500+i] = 30001 + 10*i
    
for i in np.arange(500):
    train[1000+1000+500+1000+i] = 42001 + 10*i

In [17]:
for i in np.arange(200):
    test[i] = 10001 + 10*i

for i in np.arange(200):
    test[200+i] = 22001 + 10*i
    
for i in np.arange(100):
    test[200+200+i] = 29001 + 10*i

for i in np.arange(200):
    test[200+200+100+i] = 40001 + 10*i
    
for i in np.arange(100):
    test[200+200+100+200+i] = 47001 + 10*i

array([1.0000e+00, 1.1000e+01, 2.1000e+01, ..., 4.6971e+04, 4.6981e+04,
       4.6991e+04])

In [10]:
train.shape, test.shape

((4000,), (1000,))

In [18]:
df_train = pd.DataFrame(train)
df_train = df_train.astype(int)
df_test = pd.DataFrame(test)
df_test = df_test.astype(int)

In [21]:
df_train[0].to_csv('train_unconf.csv',header=False,index=False)
df_test.to_csv('test_unconf.csv',header=False,index=False)

In [20]:
df_train

          0
0         1
1        11
2        21
3        31
4        41
5        51
6        61
7        71
8        81
9        91
10      101
11      111
12      121
13      131
14      141
15      151
16      161
17      171
18      181
19      191
20      201
21      211
22      221
23      231
24      241
25      251
26      261
27      271
28      281
29      291
...     ...
3970  46701
3971  46711
3972  46721
3973  46731
3974  46741
3975  46751
3976  46761
3977  46771
3978  46781
3979  46791
3980  46801
3981  46811
3982  46821
3983  46831
3984  46841
3985  46851
3986  46861
3987  46871
3988  46881
3989  46891
3990  46901
3991  46911
3992  46921
3993  46931
3994  46941
3995  46951
3996  46961
3997  46971
3998  46981
3999  46991

[4000 rows x 1 columns]

In [26]:
df_img_list = pd.DataFrame([["%0.6d.jpg" % (x+1)] for x in range(48000)], columns=['image path'])
df_img_list.to_csv('img_list.csv',header=False,index=False)

In [23]:
df_img_list.head(10)

   image path
0  000001.jpg
1  000002.jpg
2  000003.jpg
3  000004.jpg
4  000005.jpg
5  000006.jpg
6  000007.jpg
7  000008.jpg
8  000009.jpg
9  000010.jpg

In [ ]:
np.arange()